# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore idea intellij files
.idea

# Ignore out build output directory
out

# Ignore mac os stuff
.DS_Store
